.explore {
  display: flex;
  flex-direction: column;

  span {
    font-size: 30px;
    font-weight: 900;
    height: 40px;
    text-align: center;
    color: #4662F4;
  }

  input {
    width: 300px;
    padding-left: 10px;
    border-radius: 30px;
    border: 1px solid #DDDDEE;
    height: 40px;
    margin: auto;
    &:focus {
      outline: none;
    }
  }

  .card-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: calc(100vh - ( 60px + 40px + 40px + 30px ));
    overflow: auto;
    justify-content: center;
    margin-top: 30px;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}
